* {
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav {
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    
    display: flex;
    justify-content: space-between; /* pushes content to edges */
    align-items: center; /* vertically center content */
    padding: 0 20px; /* optional horizontal padding */
}

.nav h1 {
    margin: 0; /* remove default margin */
}

#profile {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.fixed-bottom-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fixed-bottom-buttons button{
    height: 5vh;
    width: 20vw;
    font-size: 2vh;
    text-align: center;
}

.tasks {
    margin-top: 10vh;
    display: flex;
    height: 80vh;
    width: 90vw;
}

.tasks .card {
    border-radius: 1rem;
    height: 14rem;
    width: 10rem;
    padding: 5px;
    color: white;
    background-color: #333333;
    margin-right: 5px;
}

.tasks .card .name{
    font-size: 1.2rem;
}

.tasks .card .description{
    font-size: 1rem;
}

.tasks .card .timeToComplete{
    font-size: 1rem;
    color: grey;
}

.tasks .card .fins{
    font-size: 1rem;
    color: lightskyblue;
}

.tasks .card .completeTask {
    font-size: 1rem;
    height: 2rem;
    width: 8rem;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 10px;
   background-color: rgb(0, 150, 0);
   color: white;

}