* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid #333;
  z-index: 10;
}

.container {
  margin-top: 12vh;
  width: 90vw;
  max-width: 600px;
  text-align: center;
}

.card-refeicao {
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ccc;
  text-align: left;
}

.card-refeicao h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-refeicao ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}

.total-geral {
  background: #007bff;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.sugestoes {
  max-height: 150px;
  overflow-y: auto;
  border-radius: 6px;
  z-index: 5;
  position: relative;
}

.fixed-bottom-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fixed-bottom-buttons button {
  height: 5vh;
  width: 20vw;
  text-align: center;
}

@media (max-width: 480px) {
  .fixed-bottom-buttons {
    flex-direction: column;
  }

  .fixed-bottom-buttons button {
    width: 80%;
    height: 6vh;
  }
}
