* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR */
.nav {
    height: 10vh;
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.container {
    margin-top: 12vh;   /* empurra conteúdo para baixo */
    margin-bottom: 12vh; /* impede sobreposição */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MODAL */
.modalTreino {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-contentTreino {
    background: white;
    width: 80%;
    padding: 20px;
    border-radius: 12px;
}

/* BOTÕES FIXOS */
.fixed-bottom-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333333;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fixed-bottom-buttons button {
    height: 5vh;
    width: 20vw;
    color: white;
    font-size: 20px;
}

/* MOBILE */
@media (max-width: 480px) {
    .fixed-bottom-buttons button {
        width: 19%;
        font-size: 18px;
    }
}
